

form {
  display: grid;
  grid-template-columns: 200px, 200px, 200px;
  grid-template-rows: 100px, 100px, 100px, 100px, 100px, 100px;
  background-color: rgb(255, 196, 0);
  width: 75%;
  width: 600px;
  height: 680px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}

button { 
  border-radius: 10px;
}

input {
  width: 75%;
  text-align: end;
}

.input {
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-column: 1 / span 3;
  grid-row: 1 / 3;
 
    
}
 .firstnumber {
     height: 70px;
     padding-top:30px;   
     background-color: white;
     border: 1px solid black;
 }
  .secondnumber {
    background-color: white;
    border: 1px solid black;
   height: 70px;
  padding-top:30px; 
   }

  .add {
     grid-column: 1 / 2;
     grid-row: 3;
     height: 100px;
     
   }
  .subtract {
     grid-column: 3 / 4;
     grid-row: 3;
     height: 100px;
      }

  .multiply {
    grid-column: 2/3;
    grid-row: 4; 
    height: 100px;
    
  }
  .divide {
    grid-column: 1/2;
    grid-row: 5;  
    height: 100px;
   }

  .modulus {
    grid-column: 3/4;
    grid-row: 5;  
    height: 100px;
  }
  .equals {
    grid-column: 1/2;
    grid-row: 6;
    height: 100px;

  }
  
  .reset {
    grid-column:3/4;
    grid-row: 6;
    height: 100px;
  }
  
  .result {
    grid-column: 1 / span 3;
    text-align: center;
    height: 60px;
    font-size: 30px;
    background-color: white;
    border: 1px solid black;
  }
