body {
  margin: 20% auto;
  background-color: silver;
}

form {
  display: grid;
  grid-template-columns: 200px, 200px, 200px;
  grid-template-rows: 100px, 100px, 100px, 100px, 100px, 100px;
  
}
.calculator {
  background-color: blue;
  width: 75%;
  width: 600px;
  height: 600px;
  padding: 10px;
}

.input {
  background-color: GOLD;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-column: 1 / span 3;
  grid-row: 1 /3;
  color: white;
  
}
 .firstnumber {
     background-color: slateblue;
     height: 70px;
     padding-top:30px;   

 }
  .secondnumber {
   background-color: blueviolet;
   height: 70px;
     padding-top:30px; 
   }

  .add {
     grid-column: 1 / 2;
     grid-row: 3;
     height: 100px;
     
   }
  .subtract {
     grid-column: 3 / 4;
     grid-row: 3;
     height: 100px;
      }

  .multiply {
    grid-column: 2/3;
    grid-row: 4; 
    height: 100px;
    
  }
  .divide {
    grid-column: 1/2;
    grid-row: 5;  
    height: 100px;
   }

  .modulus {
    grid-column: 3/4;
    grid-row: 5;  
    height: 100px;
  }
  .equals {
    grid-column: 1/2;
    grid-row: 6;
    height: 100px;

  }
  
  .reset {
    grid-column:3/4;
    grid-row: 6;
    height: 100px;
  }
